@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: white;
}

nav {
  background: #333;
  font-family: Comfortaa;
}

nav:after {
  content: "";
  clear: both;
  display: table;
}

nav ul {
  float: right;
  list-style: none;
  position: relative;
  margin-right: 40px;
}

nav ul li {
  margin: 0px 5px;
  display: inline-block;
  background: #333;
}
nav ul li a:hover {
  background: #04aa6d;
  border-radius: 5px;
  box-shadow: 0 0 5px #013723, 0 0 5px #013723;
  transition: all 0.3s ease-out;
}

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  line-height: 60px;
  font-size: 18px;
  padding: 15px 15px;
}

nav ul ul {
  position: absolute;
  top: 40px;
  opacity: 0;
  visibility: hidden;
  transition: top 0.5s ease;
}
nav ul li:hover > ul {
  top: 60px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
nav ul ul li a {
  line-height: 50px;
}

nav ul ul li a:hover {
  background: #333;
  box-shadow: none;
  color: #04aa6d;
  font-weight: bold;
  transition: all 0.3s ease;
}
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
}

.logo {
  float: left;
  font-size: 25px;
  padding-left: 50px;
  line-height: 60px;
  color: #f2f2f2;
  font-weight: 600;
}

.logo i {
  color: #04aa6d;
}

.parent-div {
  display: flex;
  justify-content: center;
}
.login-signup-form {
  position: relative;
  top: 100px;
  width: 400px;
  border-radius: 10px;
  padding: 25px 0px;
  font-family: Comfortaa;
  box-shadow: -3px -3px 7px rgb(240, 240, 240),
    2px 2px 5px rgba(95, 105, 120, 0.3);
}

.login-signup-form h3 {
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid silver;
}

.login-signup-form form {
  padding: 25px 25px 0px 25px;
}

.login-signup-form form span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px;
  font-size: 12px;
}
form span hr {
  width: 48%;
  max-height: 1px;
  margin: 5px 5px 0px 5px;
  color: #333;
  border: 0px;
  background: #333;
}

.input-fields input {
  position: relative;
  width: 96%;
  margin: 2px 0px 10px 0px;
  padding: 10px 5px;
  border: 1px solid white;
  border-bottom: 1px solid #333;
  outline: none;
  font-family: Comfortaa;
}

.qsn {
  margin: 10px 0px;
}
.qsn a {
  text-decoration: none;
  color: #04aa6d;
}

.qsn a:hover {
  font-weight: bold;
}

.login-signup-btn {
  width: 100%;
  background: #04aa6d;
  padding: 10px 5px;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  border: 1px solid #04aa6d;
}

.login-signup-btn:hover {
  opacity: 0.8;
  transition: all 0.5s ease-out;
}

.login-signup-form button {
  width: 88%;
  margin: 5px 25px;
  padding: 10px 5px;
  font-size: 15px;
  border-radius: 5px;
}
.login-signup-form button:hover {
  opacity: 0.7;
  transition: all 0.5s ease-out;
}

.login-signup-form button i {
  font-size: 18px;
  margin: 0px 5px;
}

.sign-in-google {
  background: black;
  border: 1px solid black;
  color: white;
}

.sign-in-facebook {
  background: royalblue;
  color: white;
  border: 1px solid royalblue;
}
