@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: lavender;
}

nav {
  background: #333;
  font-family: Comfortaa;
}

nav:after {
  content: "";
  clear: both;
  display: table;
}

nav ul {
  float: right;
  list-style: none;
  position: relative;
  margin-right: 40px;
}

nav ul li {
  margin: 0px 5px;
  display: inline-block;
  background: #333;
}
nav ul li a:hover {
  background: #04aa6d;
  border-radius: 5px;
  box-shadow: 0 0 5px #013723, 0 0 5px #013723;
  transition: all 0.3s ease-out;
}

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  line-height: 60px;
  font-size: 18px;
  padding: 15px 15px;
}

nav ul ul {
  position: absolute;
  top: 40px;
  opacity: 0;
  visibility: hidden;
  transition: top 0.5s ease;
}
nav ul li:hover > ul {
  top: 60px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
nav ul ul li a {
  line-height: 50px;
}

nav ul ul li a:hover {
  background: #333;
  box-shadow: none;
  color: #04aa6d;
  font-weight: bold;
  transition: all 0.3s ease;
}
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
}

.logo {
  float: left;
  font-size: 25px;
  padding-left: 50px;
  line-height: 60px;
  color: #f2f2f2;
  font-weight: 600;
}

.logo i {
  color: #04aa6d;
}
